#calendar-container {
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    bottom: 10px;
}

.panel {
    margin: 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-ground {
    width: 100%;
    padding: 10px;
}

.expected-expenses {
    display: block;
    font-size: 14px;
    color: #e0770f;
    margin-top: 5px;
}

.textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.submit-button, .remove-event-button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    margin-bottom: 10px; 
    margin-left: 10px;
}

.with-border {
    border: 2px solid #3498db; 
}

.close-button {
    cursor: pointer;
    color: #fc0000;
}

.submitted {
    fill: rgb(226, 212, 11);
}

.orange-fill {
    fill: rgb(202, 143, 23) !important;
}

.remove-event-button {
    background-color: #dc3545; 
    color: #fff; 
}

.remove-event-button:hover {
    background-color: #c82333; 
}

.month-selector-panel {
    display: flex;
    text-align: center;
    justify-content: center; 
    font-size: 25px;
  }

.select-input {
    text-align: center;
}


.progressBar {
    justify-content: center;
    width: 50%; 
    height: 20px; 
    background-color: #000000; 
    border-radius: 10px; 
    overflow: hidden; 
    position: absolute; 
    top: 0; 
    margin-bottom: 35px;
  }
  
.progress {
    height: 100%;
    background-color: #cf1414; 
    border-radius: 10px;
}

svg {
    flex: 1;
    margin-top: 20px;
}

.budget-button {
    justify-content: center;
    bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
}