@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer base {
  body {
    @apply text-white bg-slate-900 relative;
  }

  button {
    @apply transition-all duration-100 hover:scale-110;
  }

  input {
    @apply px-4 py-2 bg-slate-500 rounded-xl;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .btn{
    @apply self-start px-4 py-2 text-white text-sm capitalize rounded-xl;
  }
  
  .btn-primary{
    @apply border bg-slate-400 border-slate-400 text-black;
  }

  .btn-primary-outline{
    @apply border border-lime-400 text-lime-400;
  }
  .btn2-primary-outline{
    @apply border border-lime-800 text-lime-800;
  }
  .btn-danger{
    @apply border text-white  bg-red-600 border-red-600
  }
  .btn-login{
    @apply text-white  bg-green-600
  }
  
  .input-ground{
    @apply flex flex-col gap-4;
  }
}

@layer utilities {
  .text-black {
    color: black;
  }

  svg {
    color:cornflowerblue;
  }

  .pie-chart svg {
    width: 70%;
    height: 400;
  }
}
