@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .btn{
    @apply px-4 py-2 text-sm capitalize rounded-xl;
  }
  
  .btn-primary{
    @apply border bg-slate-700 border-slate-700 text-lime-400;
  }

  .btn-primary-outline{
    @apply border border-lime-400 text-lime-400;
  }
  .btn-danger{
    @apply border text-white  bg-red-600 border-black
  }
  .btn-login{
    @apply border text-white  bg-green-600 border-black
  }
}

svg {
  color:cornflowerblue;
}

.pie-chart svg {
  width: 70%;
  height: 400;
}
